
body{
    background-image: url('https://i.postimg.cc/TPQcBD8x/Asset-1.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    font-family: "Funnel Display", sans-serif;
}

h1{
    font-family: cursive;
    font-size: 70px;
    font-weight: bold;
    color: #000000;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.actions{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none; 
}

.action{
    padding: 10px;
    background-color: #000000;
    border-radius: 10px;
    color: white;
    font-weight:500;
    text-decoration: none; 
}

