
body{
    background-image: url('https://i.postimg.cc/TPQcBD8x/Asset-1.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    font-family: "Funnel Display", sans-serif;
}

h1,h2{
    font-family: cursive;
    font-size: 70px;
    font-weight: bold;
    color: #000000;
}
h2{
    font-size: 50px;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.actions{
    display: flex;
    gap: 20px;
    align-items: center;
}

a{
    text-decoration: none; 
}

.form{		
    display: flex;
    flex-direction: column;
    gap: 10px; 		
    width: max-content;
    margin-bottom: 40px;
}

.a-nav{
    color:  rgb(152 74 0);
    font-size: 20px;
    font-weight: 500;
}

.nav{
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: space-around;
}

.all-recipe-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    margin-bottom: 10px;
    align-items: center;
}

.delete{
    background-color: #9e1010;
    color: #ffffff;
    padding: 7px;
    border-color: #9e1010;
}

.delete:hover{
    cursor: pointer;
    transform: scale(1.1);

}