<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Community</title>
</head>
<body>
    <div class="main-container">
        <%- include('../partials/_navbar.ejs') %>
        <h2>Welcome to our community </h2>
        <ul>
            <%allUsers.forEach((user) =>{%>
                <a href="/users/<%=user._id%>"><li><%=user.username%></li></a>
            <%})%>
        </ul>
    </div>
</body>
</html>