<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Recipes</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Welcome to My Recipes</h1>
    <a href="/recipes/new">Add New Recipe</a>
    <%if(recipes.length === 0) {%>
        <p>You have not created any recipes yet</p>
    <%}else{%>
        <%recipes.forEach((recipe) =>{%>
            <ul>
                <a href="/recipes/<%=recipe._id%>">
                    <li>
                        <%=recipe.name%>
                        <form action="/recipes/<%=recipe._id%>?_method=DELETE" method="POST">
                            <button type="submit">Delete Recipe</button>
                        </form>
                    </li>
                </a>  
            </ul>
        <%})%>  
    <%}%>  
  </body>
</html>
